APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]DB_TYPE = mysqlDB_HOST = 127.0.0.1DB_NAME =DB_USER =DB_PASS =DB_PORT = 3306DB_PREFIX = m_DB_CHARSET = utf8mb4[LANG]default_lang = zh-cn[REDIS]REDIS_HOSTNAME =PORT = 6379REDIS_PASSWORD =SELECT = 0JWT =