.default-append .arco-input-append{
    padding: 0!important;
}
/******card-form********/
.card-form .arco-card-body{
    padding-bottom: 0!important;
}
/******loading********/
.loading-container {
    position: relative;
    z-index: 1;
}
.loading-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 2;
    left: 0;
    top: 0;
    background: var(--color-bg-3);
}

.loading-spinner {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border: 2px solid rgba(0,0,0,0.1);
    border-top: 2px solid rgba(var(--primary-6));
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    z-index: 9999999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}